@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tw-ring-shadow:none;
  --tw-ring-offset-shadow:none;
  --tw-ring-color:none;
}

*:focus{
  --tw-ring-shadow:none;
  --tw-ring-offset-shadow:none;
  --tw-ring-color:none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  font-family: 'Karla';
  color: black;
  background: "#ECECEC";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.containerHome{
  background: "#BDBDBB" !important; 
  height: 75%;
}

.containerExam{
  width: 30%;
  margin-right: 2%;
}

.containerCalendario{
  width: 70%;
  margin-left: 2%;
}

.titoloHome{
  margin-bottom: 2.5%;
  margin-top: -2%;
}

.containerPlanner{
  height: 100vh;
}

.centra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.centraOrizzontale{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.titoloYears{
  height: 13%;
}

.bodyYears{
  height: 82%;
}

.containerOrario{
  width: 30%;
  height: 100%;
  font-size: 10vh;
  line-height: 10vh;
  margin-left: 5%;
}


.calendarioHome{
  height: 80%;
  width: 70%;
}


.containerMese table{
  font-size: 25px;
}

.containerMese table th{
  padding-right: 15px;
  padding-left: 15px;
}

.yearTable{
  font-size: 18px;
  border-collapse: separate;
  border-spacing: 0px 2px;
}

.meseCalendario{
  font-size: 3vh;
  text-align: center;
  font-weight: 700;

}

.ggCalendarioHome {
  font-size: 18px;
  text-align: center;
}

.ggHeaderCalendario{
  font-size: 18px;
  text-align: center;
}

.ggCalendario{
  font-size: 18px;
  text-align: center;
}

.bodyYears{
  width: 100%;
}
.bodyYears a{
  height: 100%;
  width: 7.5%;
}

.bodyYears .calendarsYears{
  width: 85%;
}

.tableWeeklyPlanner{
  height: 85vh;
  width: 90%;
  margin-left: 5%;
  border-collapse: separate;
  border-spacing: 10px;
}
.tdWeeklyPlanner{
  width: 12%;
  height: 5%;
  text-align: center;
  border-width: 1px;
  border-color: black;
}

.inputWeeklyPlanner{
  padding: 10px;
  border-radius: none;
  transition: border-color 0.3s ease;
  outline: none; 
  text-align: center;
}

.inputWeeklyPlanner:focus{
  border-color: #545454;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.75); 
}

.homeLogo{
  padding-left: 2%;
}

.sezioneEsame{
  caret-color: black;
  height: 50px;
  width: 10%;
  margin-right: 1%;
  border: 2px solid black;
}

.sezioneEsame:last-child{
  margin-right: 5%;
}

.sezioneEsameBig{
  caret-color: black;
  height: 50px;
  width: 32%;
  margin-right: 1%;
  margin-left: 5%;
  border: 2px solid black;
}

.sezioneEsameSmall{
  caret-color: black;
  height: 50px;
  width: 7%;
  margin-right: 1%;
  border: 2px solid black;
}

.lastSezioneEsame{
  margin-right: 4%;
}

.addIcon{
padding-left: 21% ;
}

.selectDateExam [data-slot="input-field"] {
  width: 0px;
  height: 0px;
  display: block;
  text-indent: -9999px;
  column-gap: 0rem !important;
}

.selectDateExam [data-slot="selector-button"] {
  display: block;
  border-radius: 0%;
  height: 100%;
}

.selectDateExam [data-slot="selector-button"]:hover{
  background-color: #545454;
}

.selectDateExam [data-slot="inner-wrapper"] {
  column-gap: 0px;
  height: 100%;
}

.selectDateExam [data-slot="input-wrapper"] {
  padding: 0px;
  background-color: white;
  box-shadow: none;
  height: 100%;
}


.inputExam{
  padding: 10px;
  font-size: 18px;
  border-radius: none;
  transition: border-color 0.3s ease;
  outline: none; 
  text-align: center;
  text-transform: uppercase;
}

.inputExam:focus{
  border-color: #545454;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.50); 
}

.selectDateExam{
  border-radius: none;
  transition: border-color 0.3s ease;
  outline: none; 
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.selectDateExam:focus-within{
  border-color: #545454;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.50); 
}

.buttonExams{
  height: 50px;
  width: 7%;
  font-size: 18px;
  margin-right: 4%;
}

.buttonExamsAdd{
  height: 50px;
  width: 13%;
  font-size: 18px;
  margin-right: 4%;
}

.buttonDeleteExam{
  height: 50px;
  padding: 0px;
  width: 5%;
  margin-right: 0.5%;
}
.ulTooltipYear li{
  list-style: inside ;
}

#situazioneEsami{
  background-color: #545454;
  padding: 1%;
  font-size: 16px;
  border-radius: 7.5px;
  --rt-opacity: 1;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.50); 
}

.graficoCerchio{
  width: 25%;
}

.graficoLinee{
  width: 75%;
}

.itemPlannerDx{
width: 40%;
}

.itemPlannerSx{
width: 60%;
}

.grafico{
  padding: 3%;
}

.graficoLinee{
  height: 80%;
  width: 80vh;
}

.bottoniPlanner{
  padding:3% 3% 1% 3%;
}

.esameButton{
  font-size: 3vh;
  width: 90%;
  height: 35%;
  text-align: center;
}

.weeklyPlannerButton{
  font-size: 3vh;
  width: 90%;
  height: 35%;
  margin-top: 15%;
  text-align: center;
}

.loginContainer{
  height: 100vh;
  width: 100%;
}

.titoloLoginToken{
  margin-bottom: 3%;
  line-height: 4vh;
  font-size: 4vh;
}

.inputLoginToken label{
  line-height: 2.5vh;
  font-size: 2.5vh;  
  margin-bottom: 10%;
}

.inputLoginToken input{  
  border: none;
  line-height: 1.75vh;  
  font-size: 1.75vh;  
  margin-bottom: 12.5%;
  width: 125%;
  height: 40%;
}


.inputLoginToken input:focus{  
  border-color: #545454;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.75); 
}

.inputLoginToken Button{
  line-height: 2vh;
  font-size: 2vh;  
  width: 90%;
  height: 6.5vh;
  margin-top: 5%;
}


.titoloLogin{
  margin-bottom: 1%;
  line-height: 4vh;
  font-size: 4vh;
}

.inputLogin label{
  line-height: 2.5vh;
  font-size: 2.5vh;  
  margin-bottom: 8%;
}

.inputLogin input{  
  border: none;
  line-height: 1.75vh;  
  font-size: 1.75vh;  
  margin-bottom: 12.5%;
  width: 125%;
  height: 5vh;
}


.inputLogin input:focus{  
  border-color: #545454;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.75); 
}

.inputLogin Button{
  line-height: 2vh;
  font-size: 2vh;  
  width: 150%;
  height: 5vh;
  margin-top: 5%;
}

.examRows{
  width: 90%;
}

.meseEvento{
  padding-right: 2.5%;
  width: 25%;
  height: 100%;
}

.calendarioEventi{
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.meseTitle{
  width: 100vh;
  font-weight: 800;
  font-size: 9vh;
}

.annoTitle{
  width: 100vh;
  font-weight: 100;
  font-size: 9vh;
  line-height: 4vh;
}

.tableEventi{
  width: 92.5%;
  height: 98%;
  table-layout: fixed;
}

.tableEventiTh{
  font-size: 200%;    
  line-height: 190%;
}

.tableEventiTd{
  height: 17.5vh; 
  text-align: center;
  border: 1px solid black;
  vertical-align: top;
}

.ggStyle{
  width: 10%;
  float: left;
}

.addEvento{
  background-color: rgba(0, 0, 0, 0.00);
  float: right;
  color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 75%;
  margin-left: 10%;
  margin-right: 5%;
  line-height: 180%;
  font-size: 80%;
}

.eventiSurplus{
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 180%;
  font-size: 90%;
}

.eventiSurplus:hover{
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
  transition: 0.9s ease;
}

 .event{
  border-radius: 8px;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  line-height: 180%;
  font-size: 90%;
  padding-left: 6.5%;
  max-width: 90%;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  display: block;
} 

.addEvento:hover{
  /* background-color: rgba(0, 0, 0, 0.05); 
  color: rgba(0, 0, 0, 0.5); */
  color: black;
  transition: 1s;
}

.tableEventiTdSpan{
  display: block;
  text-align: left;
  padding-left: 10%;
  padding-top: 2%;
  font-size: 20px;
  height: 19.5%;
}

.tableEventiUl{
  display: block;
  height: 78.5%;
}

.inputEvento [data-slot="input"]{
  border: none;
}

.inputEvento [type="text"] :focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.inputEvento:focus{
  color:white !important;
}

.tableEventiUl .tooltipEvSurplus{
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.10); 
  border-radius: 2%;
  width: 30%;
  font-size: 102.5%;
  padding-top: 1.5%;
  padding-bottom: 1%;
}

.tableEventiUl .tooltipEvSurplus .event{
  padding-left: 4%;
}

.eventTooltip{
  padding-top: 1.5%;
  margin-bottom: 2%;
}

.dettaglioEvento{
    padding-right: 4%;
    padding-bottom: 2%;
    white-space: normal; 
    word-wrap: break-word; 
    overflow: hidden;
}

.meseAnnoEventi{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.tableEventiUlHeight{
  height: 14vh;
}

.tableEventiUlHeight .tableEventiTdSpan{ 
  margin-bottom: 5%;
}

.inputEvento [type='text']:focus, .inputEvento textarea:focus, .tableEventiUl button:focus, .tableEventiTdSpan button:focus{
  outline: none;
  box-shadow: none;
  --tw-ring-shadow:none;
  --tw-ring-offset-shadow:none;
  --tw-ring-color:none;
}